---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ShopifyImage from "@components/shop/ShopifyImage.svelte";
import Money from "@components/shop/Money.svelte";

// Filter team entries with 'draft: false' & date before current date
const products = await getCollection("products", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Products">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Products</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div
      class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 mt-50">
      {
        products.map((product) => (
          <>
            <a href={`/products/${product?.data.link}`} class="group">
              <div class="aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8 w-full overflow-hidden rounded-lg bg-gray-200">
                <ShopifyImage
                  classList="h-full w-full object-cover object-center group-hover:opacity-75"
                  loading="eager"
                  image={product?.data.images[0]}
                  sizes={`
                    (min-width: 1540px) 348px,
                    (min-width: 1280px) 284px,
                    (min-width: 1040px) 309px,
                    (min-width: 780px) 348px,
                    (min-width: 640px) 284px,
                    calc(100vw - 48px)
                  `}
                />
              </div>
              <h3 class="mt-4 text-sm text-gray-700">{product?.data.title}</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">
                <Money price={product?.data.price} />
              </p>
            </a>
          </>
        ))
      }
    </div>
  </Container>
</Layout>
