---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Bike",
    description:
      "Our custom triangle bags are designed to fit your bike, so you can start your adventure with the bike you already have.",
    icon: "mdi:bike-fast",
  },
  {
    title: "Expert Advice",
    description:
      "Check out our blog for product reviews and advice. We've got everything you need to make your cycling adventure a success.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Join our growing community of fellow tourers and discover new routes, share tips, and connect with other cycling enthusiasts from all over.",
    icon: "fluent:people-community-16-regular",
  },
];
---

<div class="mt-16 md:mt-10">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Built For Touring.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We understand that embarking on a cycling adventure can be daunting,
    especially if you're new to the world of touring. That's why we offer more
    than just high-quality frame bags - we also provide expert advice to help
    you plan and execute your tour with confidence. Our blog is filled with
    product reviews, tips, and tricks to help you get started and make the most
    of your adventure. Start touring today.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
